[submodule "e17-co328-Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data"]
	path = e17-co328-Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data
	url = https://github.com/cepdnaclk/e17-co328-Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data
[submodule "sobriety-detection-using-mobile-phone-gyroscope-data"]
	path = sobriety-detection-using-mobile-phone-gyroscope-data
	url = https://github.com/sathiiii/sobriety-detection-using-mobile-phone-gyroscope-data
