[submodule "Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data"]
	path = Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data
	url = https://github.com/sathiiii/Sobriety-Detection-Using-Mobile-Phone-Gyroscope-Data
