[submodule "sobriety-detection-using-mobile-phone-gyroscope-data"]
	path = sobriety-detection-using-mobile-phone-gyroscope-data
	url = https://github.com/sathiiii/sobriety-detection-using-mobile-phone-gyroscope-data
