extends layout

block content
  h1= title
  p Welcome to #{title}

  ul  This is an API that acts as an interface for the ML classiers 
  ul Accetps a stream of gyroscopic data 
  ul Outputs the result of the ML classifiers 
